*,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Roboto, arial, sans-serif;
}

.link {
    color: rgb(0, 176, 212);
    cursor: pointer;
    border: none;
}

.circle {
    border-radius: 50%;
    width: 150px;
}

.backdrop {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.dont-show-again {
    text-align: end;
}

.modal {
    width: 80%;
    height: 75%;
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 25px;
    overflow-y: scroll;
}

.help-modal {
    background: white;
}

.modal-container {
    text-align: center;
}

.top-container {
    width: 75%;
    margin: 0 auto;
}

.top-container p {
    margin-top: 0.5em;
}

.top-container button {
    font-size: 1rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 4em 5em;
    margin: 1em 4em;
}

.help-card-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    gap: 1em;
}

.hidden {
    display: none;
}

.strong {
    font-weight: 700;
}

.image-container img {
    margin: 75px 0;
}

.scroll-down-img {
    width: 100px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 4em;
    margin-bottom: 2em;
}

.checkbox-container {
    display: flex;
    gap: 1em;
}

#close-btn {
    font-size: 1.125rem;
}

.lop-header {
    display: flex;
    justify-content: center;
}

.lop-header-container {
    background: white;
    position: fixed;
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
    width: 80%;
    text-align: center;
}

.overview-container {
    margin-top: 43px;
}

.modal::-webkit-scrollbar {
    display: none;
}

.lop-middle-container{
    width:50%;
    border:1px solid red;
}

.lop-img{
    width:80%;
}

.overview-container {
    margin-top: 43px;
}

.modal::-webkit-scrollbar {
    display: none;
}
.green{
    color:#66986a;
}
.letter-container{
    grid-template-columns: 0.1fr 1fr 1fr;
    display:grid;
}
.letter-3-container{
    display:grid;
    grid-template-areas: 
    "a b c"
    ". . d"
    ;
} 
.list-3{
    grid-area: a;
}
.container-3{
    grid-area: b;
}
.image-1{
    grid-area: c;
}
.image-2{
    grid-area: d;
}

.other-information-container {
    border: 1px solid red;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
}

.other-information-container h1 {
    padding: 1em;
    grid-column: 1 / -1;
}

.information-cards {
    border: 1px dashed gray; 
    background: rgb(241, 241, 241);
    padding: 1em 2em 0;
    height: 80px;
}